# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# McPAT custom
mcpat
obj_opt/

# CMake Specific
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Visual Studio Specific
.vs/
*.sln
*.db
*.opendb
*.vcproj
*.filters
*.vcxproj
Debug/
Release/
x64/
.vscode/
